{% extends 'base.html.twig' %}

{% block body %}
    <div class="row align-items-md-stretch">
        <div class="col-md-12 my-2">
            <iframe width="100%" height="500" src="{{ path('file_manager', {'conf': 'default' }) }}"></iframe>
        </div>
        <div class="col-md-12 my-2">
            <textarea name="" class="tinymce"></textarea>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('tinymce/tinymce.min.js') }}" referrerpolicy="origin"></script>
    <script>
        function myFileBrowser(callback, value, meta) {
            const type = meta.filetype;
            let cmsURL = "{{ path('file_manager', {module:'tiny', conf:'default'}) }}";
            if (cmsURL.indexOf("?") < 0) {
                cmsURL = cmsURL + "?type=" + type;
            } else {
                cmsURL = cmsURL + "&type=" + type;
            }
            const windowManagerCSS = '<style>' +
                '.tox-dialog {max-width: 100%!important; width:97.5%!important; overflow: hidden; height:95%!important; border-radius:0.25em;}' +
                '.tox-dialog__body { padding: 0!important; }' +
                '.tox .tox-form__group{height:100%;}' +
                '.tox-dialog__body-content > div { height: 100%; overflow:hidden}' +
                '</style > ';
            window.tinymceCallBackURL = '';
            window.tinymceWindowManager = tinymce.activeEditor.windowManager;
            tinymceWindowManager.open({
                title: 'File Manager',
                body: {
                    type: 'panel',
                    items: [{
                        type: 'htmlpanel',
                        html: windowManagerCSS + '<iframe src="' + cmsURL + '" style="width:100%; height:100%"></iframe>'
                    }]
                },
                buttons: [],
                onClose: function () {
                    if (tinymceCallBackURL !== '')
                        callback(tinymceCallBackURL, {}); //to set selected file path
                }
            });
        }

        tinymce.init({
            selector: '.tinymce',
            promotion: false,
            plugins: 'image link',
            toolbar: 'image link',
            file_picker_callback: myFileBrowser,
        });
    </script>
{% endblock %}