{% extends 'base.html.twig' %}

{% block body %}

    {{ form(form) }}

    {#    uploads/specialchars/filename!@#$.jpg #}
    {#    {% set img = ux_path_decode("/uploads/specialchars/filename%21%40%23%24.jpg") %} #}
    {% set img = 'uploads/specialchars/filename!@#$.jpg' %}

    <div class="d-flex justify-content-center mt-4">
        <img width="500" class="img-thumbnail" src="{{ image(img) }}" alt=""/>
    </div>

{% endblock %}
