<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}FileManagerBundle{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="{{ path('homepage') }}"
               class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <i class="bi bi-list-columns-reverse me-2"></i>
                <span class="fs-4">FileManagerBundle</span>
            </a>
        </header>
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">FileManagerBundle</h1>
                <p class="col-md-8 fs-4">A demo application to showcase FileManagerBundle features</p>
                <a target="_blank" class="btn btn-primary btn-lg me-2"
                   href="{{ path('file_manager', {'conf': 'default' }) }}"><i
                            class="bi bi-list-columns-reverse me-2 my-2"></i>FileManager
                </a>
                <a href="https://github.com/artgris/FileManagerBundle" target="_blank"
                   class="btn btn-primary btn-lg me-2 my-2"><i class="bi bi-github me-2"></i>Github</a>
            </div>
        </div>
        {% block body %}{% endblock %}
    </div>
</main>
</body>
</html>
